@(members:List[models.Member])
@main(""){
	<a href="@routes.Members.create()" class="btn btn-default">@Messages("button.new")</a>
	<br>
	@for(member <- members) {
	<div class="text-center">
		<div class="col-sm-12">
		<div class="well well-sm col-sm-4" style="margin-right: 10px;">
			<div class="media">
				<div class="media-left media-middle">
					<a href="#">
						<img alt="" src="" class="media-object">	
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading"><a href="#">@member.getName()</a></h4>
					<h5>@member.getPhone()</h5>				
					<h5>@member.getBirthDate()</h5>
					<h5>@member.getEmail()</h5>
				</div>
			</div>
		</div>
		</div>
	</div>
	}
}